/* src/components/SectionItem.css */

.section-item {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.section-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-item span {
  font-size: 1em;
  color: #0073b1;
}

.section-item .form-control {
  max-width: 60px;
}

.section-item .section-item-alert {
  font-size: 0.875em;
  padding: 5px 10px;
}

.section-item .btn {
  margin-right: 5px;
}
