.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.text-right {
  text-align: right;
}
.sortable-header {
  cursor: pointer;
}
/* Add spacing for the FontAwesome icons */
/* Add spacing for the FontAwesome icons */
.card-title .mr-2,
.card-body .mr-2,
.h5 .mr-2,
.a .mr-2 {
  margin-right: 0.5rem;
}

.a .ml-2 {
  margin-left: 0.5rem;
}
